@{
    ViewBag.Title = "Test";
}
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle navbar" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">
                Toggle navigation
            </span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">Aplication name</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li class="dropdown">
                <a href="@Url.Action("About", "Home")" class="dropdown-toggle" data-toggle="dropdown">
                    About<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">The Executive Team</a></li>
                    <li><a href="#">Who We Are</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Jobs</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="@Url.Action("Contact", "Home")" class="dropdown-toggle" data-toggle="dropdown">
                    Contact<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">By Mail</a></li>
                    <li><a href="#">By E-mail</a></li>
                </ul>
            </li>
        </ul>
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" />
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</nav>
<button type="button" class="btn btn-default">Default</button>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-danger">Danger</button>